<div class="books__title">
  <h1>{{last_name}} <small>({{first_name}})</small></h1>
  <p class="lead">{{email}}</p>
  <p><strong>Gender: </strong>{{gender}}</p>
  <p><strong>IP: </strong>{{ip_address}}</p>
  <p class="fav__color"><strong>Favourite color: </strong>{{favourite_color}}</p>
</div>
